@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --dark-color: #1F2937; /* for hero, footer, h2 */
    --light-color: #F9FAF8; /* logo, h1 text */
    --lighter-color: #E5E7EB; /* hero p, nav__link text */
    --blue-color: #3882F6; /* buttons, call to action bg color */

    --text-size-80: 0.694rem;
    --text-size-90: 0.833rem; /* small, button, navlink, footer */
    --text-size-100: 1rem; /* p */
    --text-size-200: 1.2rem; /* h6 */
    --text-size-300: 1.44rem; /* h5 */
    --text-size-400: 1.728rem; /* h4 */
    --text-size-500: 2.074rem; /* h3 */
    --text-size-600: 2.488rem; /* h2 */
    --text-size-700: 2.986rem; /* h1 */
}

body {
    font-family: "Roboto", serif, Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    margin: 0;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--dark-color);
    color: var(--light-color);
}

.header-logo {
    font-size: var(--text-size-300);
    margin-left: 32px;
}

nav ul {
    margin-right: 32px;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 48px;
}

nav a {
    text-decoration: none;
    font-size: var(--text-size-90);
    color: var(--lighter-color);
}

section {
    padding: 64px 0 64px 0;
}

.hero-banner {
    background: var(--dark-color);
}

.container {
    margin: 0 12% 0 12%;
}

.hero-banner .container {
    display: flex;
    gap: 48px;
    align-items: center;
}

.hero-banner .content-container {
    display: flex;
    flex-direction: column;
}

.hero-banner img {
    height: 250px;
    width: 450px;
    flex: 1 0 auto;
}

h1 {
    font-size: var(--text-size-700);
    color: var(--light-color);
    margin: 0;
}

.hero-text {
    color: var(--lighter-color);
}

.button {
    border: 0;
    border-radius: 5px;
    outline: 0;
    display: flex;
    justify-content: center;    
    align-items: center;
    width: 120px;
    padding: 12px 24px 12px 24px;
    background: var(--blue-color);
    color: var(--light-color);
    font-size: var(--text-size-90);
}

.button--color-inverse {
    border: 2px solid var(--light-color);
}

.itineraries {
    margin: 0 15% 0 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itineraries h2 {
    font-size: var(--text-size-600);
}

.itineraries-container {
    display: flex;
    gap: 32px;
}

.itinerary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itineraries img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 2px solid var(--blue-color);
    border-radius: 5px;
}

.itinerary p {
    width: 200px;
    text-align: center;
}

.testimony {
    background: var(--lighter-color);
}

.testimony .container {
    display: flex;
    flex-direction: column;
}

blockquote {
    color: var(--dark-color);
    font-size: var(--text-size-600);
    font-style: italic;
}

.author {
    align-self: flex-end;
}